Write a function to find all prime factors of a number.

In [38]:
import numpy as np

# first set a funct
def prime(number):
    return all([number % i != 0 for i in range(2, round(np.sqrt(number)) + 1)])   

def factors(number):
    return [i for i in range(2, number + 1) if prime(i) and number % i == 0]

In [39]:
factors(32)

[2]

In [43]:
factors(630)

[2, 3, 5, 7]

In [41]:
factors(13)

[13]

Determine if a given string is palindrome, ignoring the possible spaces between the characters.

In [63]:
def palindrome(str):
    return sum([str.count(item) % 2 != 0 for item in str if item != ' ']) <= 1

In [64]:
palindrome('bbaa')

True

In [65]:
palindrome('cbbaa')

True

In [66]:
palindrome('abc')

False

In [67]:
palindrome('race car')

True

Sort the words in a string.

In [89]:
def sort_str(str):  
    starter = [(n[0], item.split()[i]) for i, n in enumerate(item.split())]
    starter.sort(key= lambda x: x[0])
    return ' '.join([item[1] for item in starter])

In [90]:
sort_str('how are you')

'are how you'

Index all items in a list.

In [100]:
def indexes(list, search):
    return [i for i, n in enumerate(list) if list[i] == search]

In [101]:
indexes([1,1,3,1,], 1)

[0, 1, 3]

In [85]:
starter

[('h', 0), ('a', 1), ('y', 2)]

In [102]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\datasets\10k_racetimes.txt", )

In [103]:
df

      TIME       Athlete                                   Race date        Date of birth Location
0      31:55.6    Edith Masai (KEN)               ...
1      32:23      Christelle Daunay (FRA)         ...
2      32:23      Christelle Daunay- 2            ...
3      32:25      Priscilla Welch (CO/ENG)        ...
4      32:28      Veerle Dejaeghere (BEL)         ...
..                                                ...
95     33:38      Leah Pells-   2                 ...
96     33:38      Anzhelika Averkova (UKR)        ...
97     33:38      Carmen Oliveras (FRA)           ...
98     33:39      Michelle Cope-   2              ...
99     33:40      Tatyana Pozdniakova- 6          ...

[100 rows x 1 columns]

In [104]:
pd.read_table(r"C:\Users\Lenovo\Desktop\datasets\10k_racetimes.txt")

      TIME       Athlete                                   Race date        Date of birth Location
0      31:55.6    Edith Masai (KEN)               ...
1      32:23      Christelle Daunay (FRA)         ...
2      32:23      Christelle Daunay- 2            ...
3      32:25      Priscilla Welch (CO/ENG)        ...
4      32:28      Veerle Dejaeghere (BEL)         ...
..                                                ...
95     33:38      Leah Pells-   2                 ...
96     33:38      Anzhelika Averkova (UKR)        ...
97     33:38      Carmen Oliveras (FRA)           ...
98     33:39      Michelle Cope-   2              ...
99     33:40      Tatyana Pozdniakova- 6          ...

[100 rows x 1 columns]